<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mechanical Engineering Flowchart</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <nav>
        <a href="{{ url_for('home') }}" class="home-button">Home</a>
    </nav>
    <h1 class="flowchart-title">Mechanical Engineering Flowchart</h1>
    <section class="flowchart-container">
        <img src="{{ url_for('static', filename='images/mechanical.png') }}" alt="Mechanical Engineering Flowchart" class="flowchart-image">
    </section>

</body>
</html>
