<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Computer Science Flowchart</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='cs_style.css') }}">
</head>
<body>

    <nav>
        <a href="{{ url_for('home') }}" class="home-button">Home</a>
    </nav>

    <section class="cs-flowchart">
        <h1>NMT CSE/IT CLASSES</h1>
        <form method="POST" action="{{ url_for('computer_science') }}">
            <div class="container">
                
                <h3 class="year-title">CS Freshman</h3>
                <div class="row">
                    <div class="class-box red">CSE 101 <input type="checkbox" name="checkbox[]" value="CSE 101"></div>
                    <div class="class-box">CSE 113 <input type="checkbox" name="checkbox[]" value="CSE 113"></div>
                    <div class="class-box">CSE 122 <input type="checkbox" name="checkbox[]" value="CSE 122"></div>
                </div>

                <h3 class="year-title">CS Sophomore</h3>
                <div class="row">
                    <div class="class-box red">CSE 221 <input type="checkbox" name="checkbox[]" value="CSE 221"></div>
                    <div class="class-box green">CSE 222 <input type="checkbox" name="checkbox[]" value="CSE 222"></div>
                    <div class="class-box green">CSE 213 <input type="checkbox" name="checkbox[]" value="CSE 213"></div>
                    <div class="class-box red">CSE 241 <input type="checkbox" name="checkbox[]" value="CSE 241"></div>
                </div>

                <h3 class="year-title">CS Junior</h3>
                <div class="row">
                    <div class="class-box green">CSE 331 <input type="checkbox" name="checkbox[]" value="CSE 331"></div>
                    <div class="class-box red">CSE 325 <input type="checkbox" name="checkbox[]" value="CSE 325"></div>
                    <div class="class-box red">CSE 353 <input type="checkbox" name="checkbox[]" value="CSE 353"></div>
                    <div class="class-box green">CSE 326 <input type="checkbox" name="checkbox[]" value="CSE 326"></div>
                    <div class="class-box green">CSE 324 <input type="checkbox" name="checkbox[]" value="CSE 324"></div>
                </div>

                <div class="row">
                    <div class="class-box green">CSE 342 <input type="checkbox" name="checkbox[]" value="CSE 342"></div>
                    <div class="class-box red">CSE 344 <input type="checkbox" name="checkbox[]" value="CSE 344"></div>
                    <div class="class-box green">CSE 363 <input type="checkbox" name="checkbox[]" value="CSE 363"></div>
                    <div class="class-box green">CSE 382 <input type="checkbox" name="checkbox[]" value="CSE 382"></div>
                </div>

                <h3 class="year-title">CS Senior</h3>
                <div class="row">
                    <div class="class-box green">CSE 423 <input type="checkbox" name="checkbox[]" value="CSE 423"></div>
                </div>

            </div>

            <button type="submit">Submit</button>
        </form>
    </section>

</body>
</html>
