.chat-bot-box {
  margin-top: 40px;
  width: 100%;
  max-width: 650px;
  margin-bottom: 40px;
}

.chatbot-box {
  background: conic-gradient(
    #0c2753 0deg,
    #6275ab 45deg,
    #0c2753 90deg,
    #6275ab 135deg,
    #0c2753 180deg,
    #6275ab 225deg,
    #0c2753 270deg,
    #6275ab 315deg,
    #0c2753 360deg
  );
  border: 1px solid #0c2753;
  border-radius: 10px;
  padding: 20px;
  color: #0c2753;
  box-shadow: 0 20px 8px rgba(0, 0, 0, 0.1);
}

.chat-header {
  margin-bottom: 15px;
  color: rgb(0, 0, 0);
  font-weight: bold;
  font-size: 20px;
}

.chat-messages {
  height: 200px;
  overflow-y: auto;
  border: 1px solid grey;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 16px;
  background-color: #f5f5f5;
}

.chat-input-container {
  display: flex;
  gap: 10px;
}

.chat-input-container input[type="text"] {
  flex: 1;
  padding: 8px;
  border-radius: 14px;
  border: 1px solid grey;
  color: #0c2753;
  background-color: white;
}

.chat-input-container button {
  padding: 8px 16px;
  border: none;
  background-color: #0c2753;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}

.chat-input-container button:hover {
  background-color: #06162b;
}
