<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Electrical Engineering Flowchart</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

    <nav>
        <a href="{{ url_for('home') }}" class="home-button">Home</a>
    </nav>

    <h1 class="flowchart-title">Electrical Engineering Flowchart</h1>

    <section class="flowchart-container">
        <img src="{{ url_for('static', filename='images/electrical.png') }}" alt="Mechanical Engineering Flowchart"
            class="flowchart-image">
    </section>

    <form method="POST" action="{{ url_for('selected_classes') }}">
        <button type="submit">Go to Schedule Builder</button>
    </form>
</body>

</html>